#banner {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../images/background.jpg');
  background-size: cover;
  height: 700px;
}

#bannerText {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
