.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 $m-size;
  border-bottom: 1px dotted grey;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
