#navbar {
  justify-content: space-between;
  display: flex;
  padding: $m-size;
  background-color: white;
  max-width: 60rem;
  margin:auto;
  list-style-type: none;
  font-size: 10px;
}

#navbarContainer{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid grey;
  box-shadow: 0 8px 7px -6px grey;
}

.headerLink a{
  color:grey;
  padding: 10px;
  font-size: $m-size
}

.headerLink a:hover{
  text-decoration: none;
  color: black
}

p{
  padding: $m-size;
  justify-content: flex-start;
  display: flex;
}

.align-left{
  align-self: center;
  flex-grow: 5
}

#logoSmall{
  width: 25px;
}

@media only screen and (max-width:720px){
  #navbar li{
    display: inline-block;
    font-size: 60%
  }
}
