.makeGrey {
  color: grey
}

.banner {
  display: flex;
  justify-content: space-between;
  padding: $xxl-size;
  align-items: center;
  border: 5px solid grey;
  margin-top:150px
}

#logo {
  max-width: 200px;
}

#homeAnchor{
  position: absolute;
  top: -100px
}
