li{
  font-size: $m-size;
  color: grey
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skillImg{
  width: 100px
}

.skillTree{
  width: 300px;
  text-align: center;
}

.skillBox{
  padding-top: 40px;
  padding-bottom: 40px;
}

.skillTreeHead{
  padding: 20px;
}

#skillsAnchor{
  position: absolute;
  top: 1400px;
}

@media only screen and (max-width:720px){
  .skillBox{
    margin: 0 auto
  }
}
